extends layout

block content


	a(href="/fixtures/" + user._id) 
		button.btn.btn-primary.btn-lg.col-xs-12.col-sm-offset-3.col-sm-6.mainButton Update My Availability
	a(href="../fixtures") 
		button.btn.btn-primary.btn-lg.col-xs-12.col-sm-offset-3.col-sm-6.mainButton See Available Players & Fixtures
	if user.details.admin
		a(href="../users") 
			button.btn.btn-info.btn-lg.col-xs-12.col-sm-offset-3.col-sm-6.mainButton View Users
		a(href="../setup") 
			button.btn.btn-info.btn-lg.col-xs-12.col-sm-offset-3.col-sm-6.mainButton Setup