extends layout

block content

    
    a(href="/fixtures/" + user._id) 
        button.btn.btn-default.btn-lg.col-xs-12.col-sm-offset-3.col-sm-6 Update My Availability
    a(href="../fixtures") 
        button.btn.btn-default.btn-lg.col-xs-12.col-sm-offset-3.col-sm-6 See Available Players & Fixtures