extends layout

block content

    p= flashMessage
    
    div.container.col-xs-12
        h4 Active Users:
        each user in users
            ul
                li= user.local.email
                li= user.details.firstName + ' ' + user.details.lastName
                if user.details.admin
                    li.red Admin
                li
                    a(href="/delete/" + user._id) Delete