extends layout

block content

    p= flashMessage
    
    div.container.col-xs-12
        h4 Active Users:
        each user in users
            ul.activeUser
                li= user.local.email
                li= user.details.firstName + ' ' + user.details.lastName
                if user.details.admin
                    li.admin Admin
                a(href="") 
                    button.btb.btn-danger remove
                a(href="") 
                    button.btb.btn-warning edit