li{
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    list-style-type: none;
}

.activeUser {
    border: 1px solid grey;
    padding: 5px;
    float: left;
    width: 100%;
}

.activeUser li {
    padding: 5px;
    float: left;
    display: block;
    width: 100%;
}

.activeUser button {
    float: right;
}

.activeUser .admin {
    color: red;
}

.userList{
    border: 1px solid black;
    margin-bottom: 10px;
}

.blue {
    background-color: lightblue;
}

.red {
    background-color: lightcoral
}

.green {
    background-color: lightgreen;
}

#fixtures li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.clear{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px; 
}

.userList li:nth-child(1){
    text-decoration: underline;
    width: 100%;
}

.userList button{
    float: right;
}


.navbar-text, .navbar-text a{
    float: right;
    margin-right: 5px;
}


.border {
    border: 1px solid grey;
    padding: 30px;
}

.mainButton {
    margin-top: 10px;
}